.conda
.cache
.config
.keras
.local
islr-miniconda
.bash_history
.python_history
.sudo_as_admin_successful

*.tex
*.gz
*.log
.Rproj.user
*/cache/
.DS_Store
git-and-github.key
*/figure/
*.html
.Rhistory
*/*/cache``

!ISLR2_1.3.tar.gz
